{% extends "planner/base.html" %}

{% block title %}
Page Not Found
{% endblock title %}

{% block content %}
<div class="w3-container w3-center" style="width:100%">
  <div class="w3-cell-row">
    <img src="https://i.postimg.cc/vBC98WVx/500.png" class="w3-container w3-image w3-cell" height="50%">
    <div class="w3-container w3-cell">
      <h1>Internal Server Error!</h1>
      <h3>
      Sorry, our web server is having an internal meltdown. We apologize for the problem and will try to diagnose and fix it as soon as possible.
      </h3>
    </div>
  </div>
</div>
{% endblock content %}
